# Ignore Git-related files
.git/
.gitignore

# Ignore Node.js specific files and directories
node_modules/
npm-debug.log*

# Ignore Python specific files and directories
__pycache__/
*.pyc
.venv/

# Ignore common IDE files
.idea/
.vscode/

# Ignore temporary or log files
*.log
tmp/
