<!doctype html>
<html lang="en-US">

<head>
	<title>Blog Home</title>
	<link rel="stylesheet" href="/static/style.css">
</head>

<body class="basic">
	<div>
		{{ template "header" }}
		<p class="about"> Creator of silly projects on the internet. Proud owner of a 2014 Honda CR-V. Maker of this
			website. </p>
		{{ range . }}
		<a class="card-link" href="/blog/{{ .Slug }}">
			<div class="card">
				<div class="date">{{ .FormattedDate }}</div>
				<h2>
					{{ .Title }}
				</h2>
				<p>{{ .Preview }}</p>
			</div>
		</a>
		</br>
		{{ end }}

		{{ template "footer" }}
	</div>
</body>

</html>
